<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newpage</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1>wikileaks logo</h1>
    <p>this image was used to demonstrate how  images and other static files are rendered  using http server</p>
    <h2>why images are not directly rendered</h2>
    <p>text files are encoded in <em>utf8</em> format while images are not. that is why images were not displaying as we saw earier</p>
   <img style="width: 300px;" src="./img/weakleak.jpg" alt=""> 
   <h3>&copy<i>image by wikileaks</i></h3>
</body>
</html>