<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/index.html" class="home">HOME</a>
        <a href="signup.html" class="signup" >Signup</a>
    </nav>
    <main class="main">
        <h2>why did the new programmer quits his job?</h2>
        <p>because he couldnt get arrays</p>
        <h2>what is apple's new EV not yet released to the market?</h2>
        <p>because they are struggling with windows installation</p>

    </main>
    
</body>
</html>