<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
       
        <a href="/index.html" class="signup">Home</a>
    </nav>

    <div class="main">
        <h3>sign up page</h3>
    <form action="">
        <label for="username">
            username
        </label>
        <input type="text" placeholder="username" name="username">
        <label for="email">
            email
        </label>
        <input type="email" placeholder="email" name="email">
        <label for="mail">
            password
        </label>
        <input type="password" placeholder="password" name="password">
        <button>sign up</button>
    </form>
    </div>
    
</body>
</html>